:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    /* This hint helps browsers render default UI elements correctly */
    color-scheme: light dark;
    --menu-item-bg-normal: #F0F0F0;
    --menu-item-bg-hover: #E0E0E0;
    --menu-item-text: #000000;
    --menu-item-live-color: #002F6C;
    --menu-item-finished-color: #4A235A;
    --menu-item-vs-style-color: forestgreen;
}

/* Apply changes when the system theme is detected as dark */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1e1e1e;
        /* Darker background */
        --text-color: #ffffff;
        /* White text */
        --menu-item-bg-normal: #333333;
        --menu-item-bg-hover: #444444;
        --menu-item-text: #FFFFFF;
        --menu-item-live-color: yellow;
        --menu-item-finished-color: aqua;
        --menu-item-vs-style-color: greenyellow;
    }
}

.main-menu-body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition */
}

.tournament-item {
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--menu-item-bg-normal);
    color: var(--menu-item-text);
    padding: 10px;
}

.tournament-item:hover {
    background-color: var(--menu-item-bg-hover);
}

.match-item {
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--menu-item-bg-normal);
    color: var(--menu-item-text);
    padding: 10px;
}

.match-item:hover {
    background-color: var(--menu-item-bg-hover);
}

div {
    box-sizing: border-box;
}

a {
    -webkit-app-region: no-drag;
}

img {
    -webkit-app-region: no-drag;
}

.match-status-live-menu {
    color: var(--menu-item-live-color);
}

.match-status-finished-menu {
    color: var(--menu-item-finished-color);
}

.vs-style {
    font-size: 12px;
    color: var(--menu-item-vs-style-color);
}